VITE_SUPABASE_URL=https://qrhevjfzqrldurritlvw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyaGV2amZ6cXJsZHVycml0bHZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2NzkyNzksImV4cCI6MjA4NjI1NTI3OX0.sRTj8cYW15d0sT6KmmiWvEOUjbUkdMBUVm9ChBTCpoQ
